body {
    background-color:#FFECEF;
    color: #000000;
}


a:hover {
color: #182747;
}

a:visited {
color: #040745;
}

 p{
    background-color: #e889cc;
    color:#ffffff;
}

nav {
    background-color:#f29c39;
    padding: 10x;
    margin-bottom: 30px;
}

nav a {
    color:#EDE4E0;
}
nav a :hover {background-color:#DFF6FF;}


