p, ul, td, th {
    color:hotpink;
    font-family:Arial, Helvetica, sans-serif;
}
 h1 {
    color:hotpink;
    font-size: 200%;
}

 h2 {
    color:hotpink;
    font-size: 100%;
}
.evenrow{
    background-color: darkgrey;
}